@import 'src/assets/styles/helpers/Helpers.Style.scss';

.pipeline-score-side-drawer-width {
  width: 400px;
  max-width: 33vw;
  @include tablets-max {
    width: 100vw;
    max-width: 100vw;
  }
  @include phones-max {
    width: 100vw;
    max-width: 100vw;
  }
  @include phones-s-max {
    width: 100vw;
    max-width: 100vw;
  }
  @include phones-xs-max {
    width: 100vw;
    max-width: 100vw;
  }
  .separator-sidebar-scorecard {
    border-bottom: 1px solid #e6e7ea;
  }
  .scorecard-btn {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid $c-secondary-4;

    .icon-with-bg {
      background-color: $c-brown-scale-6;
      border-radius: 6px;
      height: 24px;
      width: 24px;
    }
  }
  .score-icon-with-bg {
    background-color: $c-brown-scale-6;
    border-radius: 12px;
    height: 40px;
    width: 40px;
  }
  .rotate-45-reverse {
    transform: rotate(45deg);
    @include rtl {
      transform: rotate(-45deg);
    }
  }
  //.section-setting-scroll {
  //  max-height: calc(100vh - 190px);
  //  overflow-y: auto;
  //}
}

//.highest-z-index {
//  &.MuiDrawer-root {
//    z-index: 1300 !important;
//  }
//}
