.justify-content-start {
  justify-content: start;
}
.align-items-start {
  align-items: start;
}
.max-width-16rem {
  max-width: 16rem;
}
.text-align-start-normal-whitespace {
  text-align: start;
  white-space: normal;
}
