@import 'src/assets/styles/helpers/Helpers.Style';
.connections-page-wrapper {
  .connections-card-wrapper {
    @include d-inline-flex-column;
    width: 16.666666667%;
    @include laptops-l-max {
      width: 20%;
    }
    @include laptops-max {
      width: 25%;
    }
    @include tablets-max {
      width: 33.333333%;
    }
    min-width: 240px;
    align-items: flex-start;
    justify-content: space-between;
    word-break: break-word;
    min-height: 152px;
    &.bg-transparent {
      min-height: 240px;
    }
    background-color: $c-gray-lighter;
    border: 1px solid $c-gray-lighter;
    padding: 1rem 0.5rem 0.5rem;
    margin: 0 0.5rem 1rem;
    border-radius: 0.25rem;
    @include phones-max {
      width: 100%;
    }
    .connections-card-body {
      @include d-flex;
      align-items: flex-start;
      flex: 0 1 100%;
      flex-wrap: wrap;
    }
    .connections-card-footer {
      @include d-flex;
      flex: 0 1 100%;
      flex-wrap: wrap;
      width: 100%;
    }
    .connections-card-row {
      @include d-flex;
      flex-wrap: wrap;
      text-align: left;
      @include rtl {
        text-align: right;
      }
      width: 100%;
      padding: 0 0.5rem;
      margin-bottom: 0.25rem;
      &.title-wrapper {
        height: 23px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        @supports (-webkit-appearance: none) {
          white-space: normal;
          height: 48px;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* number of lines to show */
        }
      }
    }
  }
}
