@import 'src/assets/styles/helpers/Helpers.Style';
.invite-management-dialog-wrapper {
  .invite-management-content-dialog-wrapper {
    .box-field-wrapper {
      @include d-flex;
      @include phones-max {
        flex-wrap: wrap;
        .invite-box-wrapper {
          padding: 0;
        }
      }
      padding: 0 1rem;
      margin-bottom: 1rem;
      .invite-box-wrapper {
        @include d-flex;
        padding: 0 0.5rem;
        .invite-box-body-wrapper {
          @include d-flex;
          flex-wrap: wrap;
          border-radius: 0.35rem;
          border: 1px solid $c-gray-lighter;
          padding: 0.5rem;
          min-height: 30px;
          .avatars-component-wrapper {
            max-width: calc(50% - 0.5rem);
          }
        }
      }
    }
    .inline-label-wrapper {
      max-width: 115px;
      min-width: 115px;
      margin-top: 0.5rem;
      color: $c-black-lighter;
    }
  }
}
