@import 'src/assets/styles/helpers/mixins/Mixins.Style';
.success-stories-contents-wrapper {
  .control-wrapper {
    @include d-inline-flex;
    padding: 0 0.5rem;
    margin-bottom: 1rem;
    width: 50%;
    @include tablets-max {
      width: 100%;
    }
  }
}
