@import 'src/assets/styles/helpers/Helpers.Style';

.hierarchical-setups-page {
  .fake-table-responsive {
    display: block;
    overflow-y: auto;
    max-width: 100%;
  }
  .fake-table-wrapper {
    display: inline-block;
    max-height: calc(100vh - 384px);
    position: relative;

    .fake-table-header {
      @include d-flex;
      position: sticky;
      top: 0;
      z-index: 2;
      flex: 0 1 100%;

      .fake-table-header-item {
        @include d-flex-v-center-h-between;
        padding: 0.5rem;
        background-color: $c-gray-lighter;
        font-weight: $fw-simi-bold;
        color: var(--c-primary, $c-primary);
        min-width: 373px;

        &.hierarchy-level-code-wrapper {
          padding-left: 0;
          padding-right: 0;

          .hierarchy-level-column {
            min-width: 273px;
          }

          .code-column {
            min-width: 100px;
          }

          .code-column,
          .hierarchy-level-column {
            @include d-flex;
            width: 100%;
            padding: 0 0.5rem;
          }
        }
      }
    }

    .fake-table-body {
      @include d-flex;
      flex-wrap: wrap;

      .fake-table-body-row {
        @include d-flex;
        align-items: flex-end;

        .fake-table-body-item {
          @include d-flex;
          align-items: flex-start;
          flex-wrap: wrap;
          padding: 0.5rem 0;
          min-width: 373px;

          &.parent-node-wrapper {
            flex-wrap: nowrap;
            white-space: nowrap;
            height: 100%;
            position: relative;

            &:after,
            &:before {
              content: ' ';
              background-color: $c-gray-light;
              position: absolute;
              pointer-events: none;
              top: 25px;
              right: -0.5px;
              @include rtl {
                left: -0.5px;
                right: initial;
              }
            }

            &:after {
              height: 100%;
              width: 0.5px;
            }

            &:before {
              height: 1px;
              width: 0.5rem;
            }
          }

          .language-actions-wrapper {
            @include d-flex;
            align-items: flex-start;
            justify-content: flex-end;
            width: 100%;
            min-height: 84.5px;
          }

          .shared-control-wrapper {
            padding: 0 0.5rem;
            width: 100%;
            margin-bottom: 0;
            min-height: 70px;
          }

          position: relative;

          &.first-separator-item {
            &:after {
              content: ' ';
              background-color: $c-gray-light;
              position: absolute;
              pointer-events: none;
              top: 25px;
              left: -0.5px;
              width: 0.5rem;
              height: 1px;
              @include rtl {
                right: -0.5px;
                left: initial;
              }
            }
          }

          &.hierarchy-level-code-wrapper {
            flex-wrap: nowrap;
            min-width: 373px;

            .hierarchy-level-column {
              position: relative;
              min-width: 273px;
            }

            .code-column {
              min-width: 100px;
            }
          }
        }

        &.add-nodes-row :nth-child(2) {
          position: relative;

          &:after,
          &:before {
            content: ' ';
            background-color: $c-gray-light;
            position: absolute;
            pointer-events: none;

            left: 0;
            @include rtl {
              right: 0;
              left: initial;
            }
          }

          &:after {
            width: 0.5rem;
            height: 1px;
            top: 25px;
          }

          &:before {
            height: 50px;
            width: 1px;
            bottom: 23px;
          }
        }
      }
    }
  }
}
