.requisition-details-dialog {
  .field-title {
    width: 170px;
    padding-inline-end: 15px;
    margin-block: 5px;
    min-width: 170px;
  }
  .field-value {
    white-space: pre-line;
    align-self: center;
    margin-top: 3px;
  }
  .value-paragraph {
    white-space: normal;
    overflow-y: auto;
    max-height: 150px;
    margin-block: 5px;
    margin-bottom: 10px;
    width: 100%;
    * {
      font-size: 12px;
    }
  }
}
