@import 'src/assets/styles/helpers/Helpers.Style';
.stories-tab-wrapper {
  margin-top: 1rem;
  .stories-item-actions-wrapper {
    @include d-flex-v-center-h-end;
    padding: 0 0.5rem;
  }
  .stories-items-wrapper {
    @include d-flex;
    flex-wrap: wrap;
    .stories-item-wrapper {
      @include d-flex;
      flex-wrap: wrap;
      .item-contents-wrapper {
        @include d-flex;
        .stories-actions-wrapper {
          margin-top: 0.4rem;
          margin-right: 0.5rem;
          @include rtl {
            margin-right: 0;
            margin-left: 0.5rem;
          }
        }
        .header-and-body-wrapper {
          @include d-flex;
          flex-wrap: wrap;
          .header-menu-wrapper {
            @include d-flex-v-center-h-between;
            width: 100%;
            padding: 0.5rem;
            min-height: 43px;
            border-radius: 0.5rem 0.5rem 0 0;
            box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.2);

            &:not(.Mui-disabled) {
              &:hover {
                box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.2);
              }
            }
          }
          .collapse-wrapper {
            @include d-flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.2);
            border-radius: 0 0 0.5rem 0.5rem;

            .MuiCollapse-wrapper {
              width: 100%;
              padding: 0.5rem;

              .MuiCollapse-wrapperInner {
                @include d-flex;
                flex-wrap: wrap;

                .stories-contents-wrapper {
                  @include d-flex-v-start-h-center;
                  width: 100%;
                  @include phones-s-max {
                    justify-content: flex-start;
                    flex-wrap: wrap;
                  }

                  .stories-controls-wrapper {
                    @include d-flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    width: 100%;

                    .control-wrapper {
                      @include d-inline-flex;
                      padding: 0 0.5rem;
                      margin-bottom: 1rem;
                      width: 50%;
                      @include tablets-max {
                        width: 100%;
                      }

                      &.stories-text-editor-control-wrapper {
                        width: 100%;
                        margin-bottom: 2rem;
                      }

                      &.stories-uploader-control-wrapper {
                        width: 100%;
                      }
                    }
                  }

                  .stories-actions-wrapper {
                    @include d-inline-flex-center;
                    margin-top: 0.35rem;
                    margin-bottom: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
