@import '../../../assets/styles/helpers/Helpers.Style';

.billing-plans-view-wrapper {
  height: calc(100vh - 72px);
  background-color: #f6f7f9;

  .MuiBackdrop-root {
    z-index: 9999;

    .MuiCircularProgress-root {
      color: white;
    }
  }

  .billing-loader {
    [role='presentation'] {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .w-100 {
      width: auto !important;
    }

    svg {
      width: auto !important;
      display: inline-flex;
      min-width: 50rem;
    }
  }

  .billing-plans-wrapper {
    .pb-8,
    .py-8 {
      padding-bottom: 0 !important;
    }

    .billing-plans-header {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      min-height: 27.5rem;
      padding: 3rem;
      &:before {
        content: ' ';
        top: 0;
        left: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0.85;
        background-color: var(--bg-primary, #051274);
      }
      color: white;

      #tsparticles {
        width: 100%;
        height: 100%;
      }

      .tsparticles-canvas-el {
        position: absolute;
        min-width: 100%;
      }

      .plans-title {
        font-weight: bold;
        font-size: 34px;
        padding-bottom: 1rem;
      }

      .plans-description {
        font-size: 14px;
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
      }

      .plans-actions {
        padding-bottom: 1.5rem;

        .MuiButtonGroup-root {
          border-radius: 0.5rem;
          .MuiButton-root {
            padding: 0.7rem 3rem;
            color: white;
            border-radius: 0.5rem;
            font-weight: bold;
            font-size: 12px;
          }
          :first-child {
            .MuiButton-root {
              border-bottom-right-radius: 0;
              border-top-right-radius: 0;
              @include rtl {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
              }
            }
          }
          :last-child {
            .MuiButton-root {
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
              @include rtl {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
              }
            }
          }
        }

        .eva-rec-category {
          &.is-active {
            .MuiButton-root {
              background-color: white;
              color: var(--c-primary, #051274);
            }
          }
        }

        .eva-ssess-category {
          &.is-active {
            .MuiButton-root {
              background-color: white;
              color: var(--c-primary, #051274);
            }
          }
        }
      }

      .plans-switch {
        display: flex;
        justify-content: center;
        align-items: center;
        @include rtl {
          flex-direction: row-reverse;
        }

        .switch-name {
          padding-left: 1rem;
          padding-right: 1rem;
          font-size: 14px;
          font-weight: bold;
        }

        .MuiSwitch-root {
          display: flex;
          justify-content: center;
          align-items: center;

          .MuiSwitch-track {
            height: 2rem;
            min-width: 3.5rem;
            border-radius: 4rem;
          }

          .MuiSwitch-colorPrimary + .MuiSwitch-track {
            background-color: #5eb041 !important;
            opacity: 1;
          }

          .MuiSwitch-colorPrimary.Mui-checked {
            color: white !important;
          }

          .MuiSwitch-thumb {
            width: 25px;
            height: 25px;
            margin-top: -0.1805rem;
            margin-left: -1.2rem;
            margin-right: -2.3rem;
          }
        }
      }
    }

    .billing-plans-cards {
      background-color: #f6f7f9;
      padding-bottom: 4rem;
      width: 100%;
      display: flex;
      margin-top: -7rem;
      align-items: flex-start;
      justify-content: center;
      @media (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
      }
      @media (max-width: 425px) {
        padding-top: 2rem;
      }
      @media (max-width: 375px) {
        padding-top: 3rem;
      }

      .billing-cards-loader {
        display: flex;

        .MuiSkeleton-root {
          z-index: 9;
          min-width: 18rem;
          min-height: 25rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          background: #ffffff83 0 0 no-repeat padding-box;
          box-shadow: 0 3px 24px #00000029;
          border-radius: 10px;
          margin-right: 0.5rem;
          margin-left: 0.5rem;
        }

        &.is-yearly {
          .MuiSkeleton-root {
            margin-right: 0;
            margin-left: 0;
          }
        }

        .middle-card {
          z-index: 99;

          .MuiSkeleton-root {
            min-height: 27rem;
            margin-top: -1.5rem;
            z-index: 99;

            .billing-plans-card-header {
              min-height: 8.5rem;

              .header-title {
                margin-top: -1.5rem;
              }
            }
          }
        }
      }

      .billing-plans-card-item {
        position: relative;
        z-index: 9;
        min-width: 18rem;
        min-height: 24.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #ffffff 0 0 no-repeat padding-box;
        box-shadow: 0 3px 24px #00000029;
        border-radius: 10px;
        overflow: hidden;
        @media (max-width: 1024px) {
          min-width: 18rem;
          min-height: 25rem;
        }
        @media (max-width: 768px) {
          margin-bottom: 1rem;
        }

        .billing-plans-card-header {
          position: relative;
          color: white;
          text-transform: capitalize;
          background-color: var(--bg-primary, #272c6a);
          min-height: 7rem;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
          font-size: 22px;

          .header-title {
            margin-top: -2.5rem;
          }

          &.is-current {
            background-color: #37af40;
          }

          &.is-offline {
            background-color: #31bfe0;
          }
        }

        .cost-down-arrow {
          color: white;
          z-index: 99;
          text-shadow: 0 3px 6px #00000029;
          position: absolute;
          top: 7.5rem;
          font-size: 1.5rem;
        }

        .billing-plans-card-priceing {
          z-index: 99;
          margin-top: -2.5rem;
          background: #ffffff 0 0 no-repeat padding-box;
          box-shadow: 0 3px 6px #00000029;
          width: 85%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 7px;
          height: 4rem;

          .cost-value {
            font-size: 38px;
            color: var(--c-primary, #272c6a);
            padding-left: 0.2rem;
            padding-right: 0.2rem;
          }

          .contact-us-cost {
            font-size: 24px;
            color: #808080;
          }

          .dollar-sign {
            color: var(--c-primary, #272c6a);
            margin-bottom: -1rem;
          }

          .year-month-cost {
            color: #808080;
            margin-bottom: -1rem;
          }
        }

        .plan-card-body {
          padding-top: 1.5rem;

          .top-features-wrapper {
            .top-features-item {
              color: #000000;
              text-align: center;

              &.is-flex {
                color: var(--c-primary, #272c6a);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                .top-features-title {
                  padding-right: 0.4rem;
                  @include rtl {
                    padding-right: 0;
                    padding-left: 0.4rem;
                  }
                }
              }

              .horizental-divider {
                width: 12rem;
                height: 0.05rem;
                background-color: lightgray;
                margin-top: 1rem;
                margin-bottom: 1rem;
              }

              .top-features-title {
                padding-bottom: 0.2rem;
                padding-top: 0.2rem;
                font-weight: bold;
                font-size: 12px;
              }

              .top-features-value {
                font-size: 12px;
              }
            }
          }
        }

        .plan-card-action {
          width: 100%;
          display: flex;
          justify-content: center;
          padding-top: 1.7rem;
          position: absolute;
          bottom: 2rem;

          .MuiButton-root {
            background: #ffffff 0 0 no-repeat padding-box;
            border-radius: 10px;
            text-transform: capitalize;
            width: 85%;
            font-weight: bold;
            height: 2.7rem;
            background-color: var(--bg-primary, #272c6a);
            color: white;
          }

          &.is-current {
            .MuiButton-root {
              background-color: white;
              color: #37af40;
              border: 1px solid #37af40;
            }
          }

          &.is-offline {
            .MuiButton-root {
              background-color: #31bfe0;
            }
          }

          &.is-cancel {
            .MuiButton-root {
              background-color: white;
              border: 1px solid #ee3e2c;
              color: #ee3e2c;
            }
          }
        }

        &.middle-card {
          min-height: 27rem;
          margin-top: -1.5rem;
          @media (max-width: 768px) {
            margin-top: 0;
          }
          z-index: 99;
          margin-left: -1rem;
          margin-right: -1rem;
          @media (max-width: 768px) {
            min-height: 26.5rem;
            margin-bottom: 1rem;
          }

          .billing-plans-card-header {
            min-height: 8.5rem;
            @media (max-width: 768px) {
              min-height: 7rem;
            }

            .header-title {
              margin-top: -1.5rem;
              @media (max-width: 768px) {
                margin-top: -2rem;
              }
            }
          }

          .cost-down-arrow {
            top: 9rem;
          }
        }
      }

      .second-middle-card {
        margin-right: 2.2rem;
      }

      &.is-monthly {
        .billing-plans-card-item {
          margin-left: 1rem;
          @include rtl {
            margin-left: 0;
            margin-right: 1rem;
          }
        }
      }
    }

    .billing-plans-body {
      background-color: #f6f7f9;

      &.is-yearly {
        margin-top: -1.5rem;
      }

      padding-bottom: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      .body-title {
        color: var(--c-primary, #051274);
        font-weight: bold;
        font-size: 34px;
        padding-bottom: 1rem;
      }

      .body-description {
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;
        font-size: 14px;
      }

      .body-table {
        width: 60%;
        @media (max-width: 1024px) {
          width: 70%;
        }
        @media (max-width: 768px) {
          width: 85%;
          overflow-x: auto;
          padding: 0 0.5rem;
          box-sizing: content-box;
        }

        .billing-table-loader {
          .MuiSkeleton-root {
            width: 100%;
            min-height: 3.5rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #ffffff83 0 0 no-repeat padding-box;
            box-shadow: 0 3px 6px #00000029;
            border-radius: 10px;
            margin-bottom: 1rem;
            padding: 0.5rem 2.5rem 0.5rem 3rem;
            @include rtl {
              padding: 0.5rem 3rem 0.5rem 2.5rem;
            }
          }
        }

        .body-table-header {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding-left: 10%;
          padding-right: 10%;
          padding-bottom: 1rem;
          width: 100%;

          .table-header-title {
            font-weight: bold;
            font-size: 14px;

            &.is-title {
              margin-right: 4rem;
              @include rtl {
                margin-left: 4rem;
                margin-right: 0;
              }
            }
          }
        }

        .body-table-rows {
          width: 100%;

          .table-row-item {
            width: 100%;
            min-height: 3.5rem;
            display: flex;
            align-items: center;
            flex: 1 1 100%;
            margin-bottom: 1rem;

            .table-column-item {
              margin: auto;
              height: 100%;
              max-height: 3.5rem;
              min-height: 3.5rem;
              padding: 1.2rem 0.5rem;
              background: #ffffff 0 0 no-repeat padding-box;
              align-items: center;
              position: relative;
              box-shadow: 0 5px 4px #0f0f0f15;

              &.is-header {
                background: transparent;
                box-shadow: 0 0 0 transparent;
                font-weight: bold;
                font-size: 16px;
                color: var(--c-primary, #051274);
              }

              &::after {
                content: ' ';
                position: absolute;
                width: 1px;
                height: 60%;
                right: 0;
              }

              &:last-child {
                border-radius: 0 10px 10px 0;
                @include rtl {
                  border-radius: 10px 0 0 10px;
                }

                &::after {
                  display: none;
                }
              }

              &:first-child {
                border-radius: 10px 0 0 10px;
                @include rtl {
                  border-radius: 0 10px 10px 0;
                }
              }

              display: inline-flex;
              flex: 1 1 100%;
              text-align: center;
              justify-content: center;
              color: black;
              min-width: 10rem;
              font-size: 14px;

              &.is-title {
                margin-right: 4rem;
                max-width: 15rem;
                @include rtl {
                  margin-left: 4rem;
                  margin-right: 0;
                }
              }

              .fa-times {
                color: #f69e95;
              }

              .fa-check {
                color: #37af40;
              }

              .column-title {
                display: inline-flex;
                align-items: center;
              }
            }

            .divider-vertical {
              height: 2rem;
              width: 0.01rem;
              background-color: lightgray;
            }
          }
        }
      }
    }
  }

  .billing-plans-pay-wrapper {
    background-color: #f6f7f9;
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 100%;
    min-height: 700px;

    .back-button-wrapper {
      margin-left: -1rem;
      @include rtl {
        margin-left: 0;
        margin-right: -1rem;
      }
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;

      .MuiButton-root {
        text-transform: capitalize;
        color: var(--c-primary, #272c6a);
        border-radius: 3rem;
        display: flex;
        align-items: center;

        .MuiButton-label {
          padding-right: 0.5rem;
          @include rtl {
            padding-right: 0;
            padding-left: 0.5rem;
          }
        }
      }
    }

    .pay-bill-body-wrapper {
      .section-title {
        color: var(--c-primary, #272c6a);
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 1rem;
      }

      .section-content-wrapper {
        display: flex;
        @media (max-width: 925px) {
          flex-direction: column;
        }
        @media (max-width: 320px) {
          width: 90%;
          margin-right: -1rem;
          @include rtl {
            margin-left: -1rem;
            margin-right: 0;
          }
        }

        .MuiSkeleton-root {
          z-index: 9;
          min-width: 20rem;
          min-height: 24rem;
          background: #ffffff83 0 0 no-repeat padding-box;
          box-shadow: 0 3px 24px #00000029;
          border-radius: 10px;
          margin-right: 1rem;
          @include rtl {
            margin-right: 0;
            margin-left: 1rem;
          }
        }

        .plan-card-body {
          padding-top: 1.2rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;

          .top-features-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .top-features-item {
              color: #000000;
              text-align: center;

              &.is-flex {
                color: var(--c-primary, #272c6a);
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                .top-features-title {
                  padding-right: 0.4rem;
                  @include rtl {
                    padding-left: 0.4rem;
                    padding-right: 0;
                  }
                }
              }

              .top-features-title {
                padding-bottom: 0.2rem;
                padding-top: 0.2rem;
                font-weight: bold;
                font-size: 14px;
              }

              .top-features-value {
                font-size: 14px;
              }
            }
          }
        }

        .horizental-divider {
          width: 100%;
          height: 0.05rem;
          background-color: lightgray;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .plan-cost-wrapper {
          padding-top: 0.3rem;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;

          .cost-value {
            font-size: 38px;
            color: var(--c-primary, #272c6a);
            padding-left: 0.2rem;
            padding-right: 0.2rem;
          }

          .dollar-sign {
            color: var(--c-primary, #272c6a);
            margin-bottom: -1rem;
          }

          .year-month-cost {
            color: #808080;
            margin-bottom: -1rem;
          }
        }

        .current-plan-card {
          background: #ffffff 0 0 no-repeat padding-box;
          box-shadow: 0 3px 6px #00000029;
          border-radius: 10px;
          margin-right: 1rem;
          @include rtl {
            margin-left: 1rem;
            margin-right: 0;
          }
          min-width: 20rem;
          min-height: 25rem;
          max-height: 25rem;
          overflow: hidden;
          @media (max-width: 1024px) {
            margin-bottom: 1rem;
            max-width: 25rem;
          }
          @media (max-width: 375px) {
            max-width: 19rem;
          }

          .current-plan-header {
            position: relative;
            color: var(--c-primary, #272c6a);
            text-transform: capitalize;
            background-color: #dadde2;
            min-height: 6.5rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .header-main-title {
              font-size: 14px;
            }

            .header-title {
              font-weight: bold;
              font-size: 24px;
            }
          }
        }

        .new-plan-card {
          background: #ffffff 0 0 no-repeat padding-box;
          box-shadow: 0 3px 6px #00000029;
          border-radius: 10px;
          margin-right: 1rem;
          @include rtl {
            margin-left: 1rem;
            margin-right: 0;
          }
          min-width: 20rem;
          min-height: 25rem;
          max-height: 25rem;
          overflow: hidden;
          border: 1px solid #31bfe0;
          @media (max-width: 1024px) {
            margin-bottom: 1rem;
            max-width: 25rem;
          }
          @media (max-width: 375px) {
            max-width: 19rem;
          }

          .current-plan-header {
            position: relative;
            color: white;
            text-transform: capitalize;
            background-color: #31bfe0;
            min-height: 6.5rem;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .header-main-title {
              font-size: 14px;
            }

            .header-title {
              font-weight: bold;
              font-size: 24px;
            }
          }

          .plan-cost-wrapper {
            .cost-value {
              color: #31bfe0;
            }

            .dollar-sign {
              color: #31bfe0;
            }

            .year-month-cost {
              color: #31bfe0;
            }
          }
        }

        .order-summary-card-wrapper {
          @media (max-width: 1024px) {
            margin-bottom: 1rem;
            max-width: 25rem;
          }
          @media (max-width: 375px) {
            max-width: 19rem;
          }

          .MuiSkeleton-root {
            z-index: 9;
            min-width: 0;
            min-height: 0;
            background: lightgray;
            box-shadow: 0 0 0 transparent;
            border-radius: 5px;
            margin-right: 0;
            margin-left: 0;
          }

          .order-summary-card {
            background: #ffffff 0 0 no-repeat padding-box;
            box-shadow: 0 3px 6px #00000029;
            border-radius: 10px;
            min-width: 25rem;
            max-width: 25rem;
            min-height: 27.5rem;
            @media (max-width: 375px) {
              min-width: 19rem;
            }
            margin-bottom: 1rem;
            padding: 1.5rem;

            .order-summary-header {
              font-size: 16px;

              .order-summary-title {
                color: #000000;
                font-weight: bold;
                padding-bottom: 0.5rem;
              }

              .order-summary-sub-title {
                color: #808080;
                font-weight: bold;
              }

              .order-summary-info {
                color: #000000;
                font-weight: bold;
                padding-top: 0.5rem;
              }

              .order-summary-cost {
                color: #808080;
                display: flex;
              }
            }

            .order-summary-body {
              .order-summary-body-title {
                color: #808080;
                font-weight: bold;
              }

              .order-summary-select-wrapper {
                padding-top: 0.7rem;
                padding-bottom: 0.7rem;
                width: 100%;

                .MuiFormControl-root {
                  width: 100%;
                  background: #f0f2f5 0 0 no-repeat padding-box;
                  border-radius: 10px !important;
                }

                .MuiOutlinedInput-root {
                  border-radius: 10px !important;
                }

                .MuiSelect-root {
                  width: 100%;
                  background: #f0f2f5 0 0 no-repeat padding-box;
                  border-radius: 10px !important;
                }
              }

              .order-summary-body-info {
                font-size: 14px;
                max-width: 18rem;
                display: block;
                flex-wrap: wrap;
                color: #808080;

                .order-date {
                  color: #808080;
                  font-weight: bolder;
                }
              }

              .order-summary-cost {
                color: #808080;
                font-weight: bold;
                font-size: 14px;

                .order-cost-wrapper {
                  color: #37af40;
                  font-size: 24px;
                }
              }
            }
          }

          .pay-now-button-wrapper {
            .MuiButton-root {
              background-color: #37af40;
              color: white;
              font-weight: bold;
              border-radius: 10px;
              text-transform: capitalize;
              min-width: 22rem;
              width: 100%;
              min-height: 3.5rem;
              @media (max-width: 375px) {
                min-width: 19rem;
              }
            }

            &.is-disabled {
              .MuiButton-root {
                background-color: lightgray;
              }
            }
          }
        }
      }
    }
  }
}

.buy-plan-dialog-wrapper {
  .MuiDialog-paper {
    max-width: 35rem;
    border-radius: 10px !important;
    padding: 0.5rem;
  }

  .MuiDialogTitle-root {
    .dialog-title {
      color: #37af40 !important;
      font-size: 24px !important;
      font-weight: bold !important;
    }
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;

    .MuiButton-root {
      text-transform: capitalize;
      color: white;
      background: var(--bg-primary, #272c6a) 0 0 no-repeat padding-box;
      border-radius: 10px;
      min-height: 4rem;
      margin-top: 3rem;
      margin-bottom: 0.5rem;
    }
  }
}

.contact-us-dialog-wrapper {
  .MuiDialog-paper {
    min-width: 35rem;
    max-width: 35rem;
    border-radius: 10px !important;
    padding: 0.5rem;
  }

  .MuiDialogTitle-root {
    .dialog-title {
      color: #37af40 !important;
      font-size: 24px !important;
      font-weight: bold !important;
    }
  }

  .MuiDialogContent-root {
    display: flex;
    flex-direction: column;

    .contact-us-dialog-button {
      width: 100%;

      .MuiButton-root {
        width: 100%;
        text-transform: capitalize;
        color: white;
        background: var(--bg-primary, #272c6a) 0 0 no-repeat padding-box;
        border-radius: 10px;
        min-height: 4rem;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }

      &.is-disabled {
        .MuiButton-root {
          width: 100%;
          text-transform: capitalize;
          color: white;
          background: lightgray;
          border-radius: 10px;
          min-height: 4rem;
          margin-top: 1rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
