.bg-primary2{
     background-color: #13CDEE;
     width: 18%;
}
option{
}

.react-time-picker__wrapper
{
     border: 1px solid #dee2e6;
     color: #899298
}

.content__title--calendar {
     border-radius: 10px;
}
