@import 'src/assets/styles/helpers/Helpers.Style';
.partners-tab-wrapper {
  margin-top: 1rem;
  .partners-item-actions-wrapper {
    @include d-flex-v-center-h-end;
    padding: 0 0.5rem;
  }
  .control-wrapper {
    max-width: 50%;
    @include tablets-max {
      max-width: 100%;
    }
  }
  .partners-items-wrapper {
    @include d-flex;
    flex-wrap: wrap;
    .partners-item-wrapper {
      @include d-flex;
      flex-wrap: wrap;
      .item-contents-wrapper {
        @include d-flex;
        .header-and-body-wrapper {
          @include d-flex;
          flex-wrap: wrap;
          .header-menu-wrapper {
            @include d-flex-v-center-h-between;
            width: 100%;
            padding: 0 0.5rem;
            cursor: default;

            span {
              cursor: default;
            }

            p {
              margin-bottom: 0;
            }
          }
          .collapse-wrapper {
            @include d-flex;
            flex-wrap: wrap;

            .MuiCollapse-wrapper {
              width: 100%;
              padding-top: 0.5rem;

              .MuiCollapse-wrapperInner {
                @include d-flex;
                flex-wrap: wrap;

                .partners-contents-wrapper {
                  @include d-flex-v-start-h-center;
                  width: 100%;
                  @include phones-s-max {
                    justify-content: flex-start;
                    flex-wrap: wrap;
                  }

                  .partners-controls-wrapper {
                    @include d-flex;
                    flex-wrap: wrap;
                    align-items: flex-start;
                    width: 100%;

                    .control-wrapper {
                      @include d-inline-flex;
                      padding: 0 0.5rem;
                      margin-bottom: 0.5rem;
                      width: 100%;
                    }
                  }

                  .partners-actions-wrapper {
                    @include d-inline-flex-center;
                    margin-top: 0.35rem;
                    margin-bottom: 1rem;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
