@import 'src/assets/styles/helpers/mixins/Mixins.Style';
.openings-section-contents-tab-wrapper {
  .control-wrapper {
    margin-bottom: 1rem;
    padding: 0 0.5rem;
    max-width: 50%;
    @include tablets-max {
      max-width: 100%;
    }
  }
}
